body
  font: 24px/1.4 "MrEavesSanOT", "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #000

h1, h2, h3, h5
  font-weight: 800

h1, h2
  font-size: 2em
  margin-bottom: 0.5em
  line-height: 1.2
  accent-text()

h3
  accent-text()
  font-size: 1em

h4
  font-size: 1em
  accent-text()
  font-style: italic
  font-weight: 400

h5
  font-size: 1em

a
  accent-text()
  text-decoration: none

p
  margin-bottom: 0.5em

+tablet()
  body
    font-size: 20px

+mobile()
  body
    font-size: 16px
